=form.inputs do
  =form.input :title
  =form.input :short_title
  =form.input :text, :as => :redactor
  =form.input :image, :as => :image, :label => 'Cover image'
  =form.input :draft, :label => 'This is a draft'