=slideshow_form.semantic_fields_for(:slides, slide) do |slide_form|
  =slide_form.inputs(:class => "inputs slide_inputs") do
    .row
      .span6
        -# TODO: allow editing of position (maybe drag drop)
        =#slide_form.input :position, :as => :string, :input_html => {:class => "span1"}
        =slide_form.input :caption, :as => :redactor
      .span6
        %label.control-label Media
        -if !slide.new_record? && slide.image
          .control-group
            =image_for(slide, "340x200#")
        =slide_form.input :retained_image, :as => :hidden
        =slide_form.input :media_type, :as => :radio, :collection => Slide::MEDIA_TYPES, :input_html => {:class => 'media_type_choice'}, :wrapper_html => {:class => 'no-padding'}
        =slide_form.input :image, :as => :file, :wrapper_html => {:class => 'image_field'}
        =slide_form.input :video_url, :input_html => {:placeholder => "URL from YouTube or Vimeo"}, :wrapper_html => {:class => 'video_field'}
    =slide_form.input :_destroy, :as => :hidden, :input_html => {:class => "destroy_input"}
    =link_to("x Delete slide", "#", :class => "delete_slide_link btn btn-danger")
