=content_for(:head) do
  :javascript
    $(document).ready(function() {
      YmCms.Slideshow.init();
    });

.slideshow_container.fade_in
  .slideshow
    .slideshow_inner
      -slideshow.slides.each_with_index do |slide, index|
        .span12.slide{:class => "#{index == 1 ? 'next_slide' : ''}"}
          .slide_inner
            =image_for(slide, "940x800>")
            %h3.slide_caption
              =slide.caption