.slideshow
  .slideshow_inner
    -slideshow.slides.each_with_index do |slide, index|
      .span9.slide{:class => "#{index == 1 ? 'next_slide' : ''}"}
        .slide_inner
          =image_for(slide, "700x450>")
          %h3.slide_caption
            =slide.caption