=content_for(:head) do
  :javascript
    $(document).ready(function() {
      YmCms.Slideshow.init();
    });

#slideshow-carousel.carousel.slide
  %ol.carousel-indicators
    -slideshow.slides.each_with_index do |slide, index|
      %li{ :class => index == 0 ? 'active' : '', :data => { :slide_to => index, :target => '#slideshow-carousel' } }
  .carousel-inner
    -slideshow.slides.each_with_index do |slide, index|
      .item{ :class => index == 0 ? 'active' : '' }
        -if slide.has_video?
          %img
            %iframe{:width => 620, :height => 490, :src => slide.video_embed_url, :frameborder => 0, :allowfullscreen => true}
        -else
          %img{ :alt => '', :src => "#{Settings.site_url}#{slide.image.thumb('620x490#').url}" }
        -if slide.caption.present?
          .carousel-caption
            %p=slide.caption
  %a.left.carousel-control{"data-slide" => "prev", :href => "#slideshow-carousel"} ‹
  %a.right.carousel-control{"data-slide" => "next", :href => "#slideshow-carousel"} ›
