%h1
  %span#page_title.mercury-region{:"data-type" => "editable"}
    =page.title

=image_tag(page.image.url) if page.image.present?

#page_text.mercury-region{:"data-type" => "editable"}
  =raw(page.text)

=options_panel do
  =link_to("Edit page content", "/editor" + request.path, :id => "mercury_edit_link", :data => {:save_url => mercury_update_page_path(page)})
  =link_to("Edit page details", edit_page_path)
  =link_to("Delete page", page, :method => :destroy, :confirm => "Are you sure?")