.span8
  %h1
    %span#page_title.mercury-region{:"data-type" => "editable"}
      =raw(page.title)
  .row
    .span8
      #page_text.mercury-region{:"data-type" => "editable"}
        =raw(page.text)
  .row
    .span8
      -page_children.each do |page|
        .row
          .list_image.span2.fade_in
            -if page.image
              =link_to(image_for(page, "140x100#"), page)
          .list_box.span6
            %h3.list_title=link_to_self(page)
            =link_to raw('&rarr; Read more'), page, :class => 'list_read_more'
      -if can?(:new, Page)
        .row
          .span2.fade_in#new_page_box{:class => "fade_#{(page_children.size/2.0).ceil.to_word}"}
            =link_to("+ Add a subpage", new_child_page_path(:parent_id => page.id))
  .row
    .span8
      =options_panel do
        =mercury_edit_link("Edit page content", mercury_update_page_path(page), :id => "mercury_edit_link") if can?(:edit, page)
        =link_if_allowed("Edit page details", [:edit, page])
        =link_if_allowed("Delete page", [:destroy, page], :confirm => "Are you sure?") unless page.slug.present?
        =link_if_allowed("New page", [:new, Page])