.row
  .span12
    %h1=@page.title
    =raw(@page.text)
.row
  -@page_children.each_with_index do |page, index|
    .span4
      .well
        =link_to page do
          %h3=page.title
          =image_for(page, "260x140#", :class => "mv-1")
          %p=truncate(strip_tags(page.text), :length => 200)
  -if can?(:new, Page)
    .span4.fade_in.new-page-box{:class => "fade_#{(@page_children.size/2.0).ceil.to_word}"}
      =link_to("+ Add a subpage", new_child_page_path(:parent_id => @page.id))
.row
  .span8
    =options_panel do
      =back_link
      =link_if_can("Edit page", [:edit, @page])
      =link_if_can("Delete page", [:destroy, @page], :confirm => "Are you sure?") unless @page.slug.present?
      =link_if_can("New page", new_child_page_path(:parent_id => @page.id)) if can?(:new,Page)
      =link_if_can("Set order", [:order, @page])