.span8
  %h1
    %span#page_title.mercury-region{:"data-type" => "editable"}
      =raw(page.title)
    %small Tiled view
  .row
    .span8
      #page_text.mercury-region{:"data-type" => "editable"}
        =raw(page.text)
  .row
    -page.children.each_with_index do |page, index|
      .gallery_box.fade_in.span4{:class => "fade_#{((index/2)+1).to_word}"}
        =link_to page do
          .gallery_text
            %h3=page.title
            %p=truncate(strip_tags(page.text), :length => 300)
          =image_for(page, "370x200#", :class => "gallery_image")
  .row
    .span8
      =options_panel do
        =link_to("Edit page content", "/editor" + request.path, :id => "mercury_edit_link", :data => {:save_url => mercury_update_page_path(page)})
        =link_to("Edit page details", edit_page_path)
        =link_to("Delete page", page, :method => :delete, :confirm => "Are you sure?")
        =link_to("Add a subpage", new_child_page_path(:parent_id => page.id))