=semantic_form_for page do |form|
  =form.inputs do
    =form.input(:parent, :collection => Page.where(["id != ?", page.id])) unless Page.count.zero?
    =form.input :title
    =form.input :text
    =form.input :published
  =form.buttons do
    =form.commit_button "Save"