%h1 Pages
-if Page.count.zero?
  %p There aren't any pages yet.
-else
  %ul
    -Page.root.each do |page|
      =render("page", :page => page)

=options_panel do
  =back_link
  =link_if_can("New page", [:new, Page.new])
  =link_if_can("Set root order", [:order, :pages])