-title @page ? "Root pages" : @page
.row
  .span6.offset3
    %p.help
      Click and drag using the icons on the left. Once you are happy with the order, click "Save order" at the bottom.
    %ul#orderable_pages.unstyled
      -@pages_for_ordering.each do |page|
        %li{'data-sortable-id' => page.id}
          .handle.well.well-small.mb-1
            %i.icon-move
            %span=page

    =form_tag(@page ? "/pages/#{@page.id}/order" : pages_order_path(@page), :class => "flcb mt-2") do
      -@pages_for_ordering.each_with_index do |sortable, i|
        =hidden_field_tag("pages[#{i}][sortable_id]", sortable.id, :id => "sortable_id_#{i}")
      =submit_tag("Save order", :class => 'btn btn-large btn-primary')

-options_panel do
  =back_link
