-content_for(:head) do
  :javascript
    $(document).ready(function() {
      $('#orderable_pages').sortable({
        axis: "y",
        handle: ".drag_icon",
        stop: function(event, ui) {
          YmCms.Page.Form.saveOrder();
        }
      });
    });

-title page.nil? ? "Root pages" : page

%p.help
  Click and drag using the icons on the left. Once you are happy with the order, click "Save order" at the bottom.

%ul#orderable_pages.lst.flcb
  -page_children.each do |page|
    %li{'data-sortable-id' => page.id}
      =image_tag("drag_icon.png", :class => "drag_icon")
      %span=page
      
=form_tag([:order, page], :class => "flcb mt-2") do
  -page_children.each_with_index do |sortable, i|
    =hidden_field_tag("pages[#{i}][sortable_id]", sortable.id, :id => "sortable_id_#{i}")
  =submit_tag("Save order")

-options_panel do
  =back_link