.formtastic fieldset.slideshow_inputs {
  padding-top: 0px;
}
.formtastic fieldset.slide_inputs {
  float: left;
  clear: both;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.delete_slide_link {
  text-decoration: none;
}
#add_slide_link {
  margin-top: 20px;
}