/*
 *= require slideshow
*/

.draft {
  color: #B94A48;
}
.subnav ul {
  list-style-type: none;
}
ul.subnav-1 {
  margin: 0;
}
ul.subnav-1 > li {
  margin: 0 0 10px 0;
}
.subnav-1-link {
  font-weight: bold;
  font-size: 16px;
}
.subnav li.active > a,
.subnav a.active {
  color: inherit;
}
#page {
  position: relative;
}
#current-view {
  position: absolute;
  top: 0;
  right: 0;
}
#page_view_name_input .view-name {
  float: left;
  margin-right: 20px;
}